

.scoreboard-container {
    padding: 0.5em;
    width: 100%;
}

.scoreboard-container > .scoreboard-entry {
    width: 100%;
    padding: 0.25em 0.125em;
    box-sizing: border-box;
    height: 1em;
}

.scoreboard-container > .scoreboard-entry > .scoreboard-entry-progressbar {
    background-color: red;
    height: 100%;
    float: left;
    max-width: 74%;
}

.scoreboard-container > .scoreboard-entry > .scoreboard-entry-playername {
    display: inline-block;
    position: relative;
    top: 50%;
    overflow: hidden;
    white-space: nowrap;
    transform: translateY(-50%);
    width: 25%;
    text-overflow: ellipsis;
    margin-left: 1%;
}