

body, html {
    padding: 0;
    margin: 0;
}

.error-display {
    color: red;
    font-size: 2em;
}

.scoreboard-container {
    padding: 0.5em;
    width: 100%;
}

.scoreboard-container > .scoreboard-entry {
    width: 100%;
    padding: 0.25em 0.125em;
    box-sizing: border-box;
    height: 1em;
}

.scoreboard-container > .scoreboard-entry > .scoreboard-entry-progressbar {
    background-color: red;
    height: 100%;
    float: left;
    max-width: 74%;
    -webkit-box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.75);
    box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.75);
}

.scoreboard-container > .scoreboard-entry > .scoreboard-entry-playername {
    display: inline-block;
    position: relative;
    top: 50%;
    overflow: hidden;
    white-space: nowrap;
    transform: translateY(-50%);
    width: 25%;
    text-overflow: ellipsis;
    margin-left: 1%;
    font-family: monospace, serif;
    text-shadow: 1px 1px rgba(0,0,0,1);
}